.App {
	button {
		font-weight: bold;
	}
	table{
		height: 100%;
		width: 100%;
	}
	.label{
		font-weight: bold;
		font-size: 1em;
		text-align: end;
	}
	.bar{
    background: #ff7f50;
		color: #070707;
		text-align: right;
		}
	.line{
		height: 1px;
		width: auto;
		background: black;
		text-align: right;

	}
}
